/* navbar started-------------- */

.para-nav {
    font-size: 1.8rem;
}

.mark {
    background-color: transparent;
    width: 8rem;
}

.icon-nav {
    display: none;
}

#child-nav-2 {
    gap: 5rem;
}
/* navbar ended------------ */


/* container-1 started-------------- */
.container-1 {
    margin-top: 6rem;
    gap: rem;
}

.head-1 {
    font-size: 6rem;
    font-weight: 700;
    width: 45vw;
}

.btn-1 {
    width: 30rem;
    height: 5.5rem;
    border: 1px solid transparent;
    border-radius: 6rem;
    background-color: var(--bg-black);
    color: var(--color-white);
}

.arrow {
    font-size: 2.2rem;
    color: var(--color-white);
}

.decoration-1 {
    font-size: 2.4rem;
    text-decoration: 1.5px underline var(--bg-blue);
}

.decoration-2 {
    text-decoration: 1px underline var(--color-black);
    font-size: 2.5rem;
}
/* container-1 ended---------------- */

/* container-2 started------------ */
.container-2 {
    font-size: 3rem;
    padding: 0rem 2.8rem;
}
/* container-2 ended --------------*/

/* footer started---------------- */
.footer {
    margin: 2rem 0rem;
    margin: 3rem 0rem;
}

.img-footer {
    width: 10vw;
}

.container-footer-1 {
    gap: 4vw;
    margin: 1rem 0rem;
}

.container-footer-2 {
    gap: 7.6vw;
    margin: 1rem 0rem;
}
/* footer ended */





@media (max-width: 1200px) {

    .main-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 80%;
    }

    .container-1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: start !important;
        align-items: start;
        gap: 4rem;
    }

    .btn-1 {
        width: 25rem !important;
        height: 5rem !important;
    }
    
    .button-font {
        font-size: 5rem !important;
    }

    .img-footer {
        width: 16rem;
    }

    .hp {
        width: 6rem;
    }

    .head-1 {
        width: 70vw;
    }

    .head-3 {
        text-align: start;
        margin: 0 !important;
    }
}


@media (max-width: 800px) {

    .container-navbar {
        width: 80vw;
    }

    .head-1 {
        font-size: 7vw;
    }

    .btn-1 {
        width: 15rem;
        height: 3.6rem;
        font-size: 1.2rem !important;
    }

    .arrow {
        font-size: 1rem;
    }


}


@media (max-width: 700px) {
/* container started  */


    .btn-1 {
        width: 12rem;       
        height: 3rem;
        font-size: 2.4vw !important;
    }


    #img-1 {
        width: 50vw !important;
    }

    .container-1 {
        width: 80vw !important;
    }
/* container ended  */

/* gooter ended */
.img-footer {
    width: 18vw;
}

.container-footer-2 {
    gap: 6rem;
}

.hp {
    width: 6vw;
}
/* footer ended */
}

@media (max-width: 500px) {
/* navbar started */
    #child-nav-1 {
        display: flex;
        justify-content: start !important; 
    }

    .mark {
        width: 6rem !important;
        background-color: transparent;        
    }

    .icon-nav {
        display: block;
    }

    #child-nav-2 {
        display: none !important;
    }
/* navbar ended */

/* container-1 started */
    .container-1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: start !important;
        align-items: start !important;
        margin: 0 auto;
        width: 100vw !important;
    }

    .btn-1 {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        width: 50vw !important;
        margin: 1rem 0rem;
    }
    
        .decoration-1 {
            font-size: 4vw;
            margin: 0 auto;
        }

    .arrow {
        font-size: 3vw;

    }


    .link-1 {
        font-size: 4vw !important;
   
    }
/* container-1 ended */


/* container-2 started */
.container-2 {
    font-size: 8vw;
}
/* container-2 ended */

/* gooter ended */
.container-footer-1, .container-footer-2 {
    gap: 3rem;
}
.img-footer {
    width: 15vw;
}
/* footer ended */
}