* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "sans";
    font-weight: 600;
    font-style: normal;
    font-size: 62.5%;
    /* border: 1px solid black; */
}

body {
    background-color: var(--bg-white);
    color: var(--color-black);
}

@font-face {
    font-family: "sans";
    src: url(../Assets/font/Open_Sans/static/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "tahomabo";
    src: url(../Assets/font/Tahoma-Font/TAHOMAB0.TTF);
}

.sans {
    font-family: "sans";
}

.tahomabo {
    font-family: "tahomabo";
}

:root {

    --bg-black: #000000;
    --bg-white: #ffffff;
    --bg-gray: #808080;
    --bg-dark: #333333;
    --bg-blue: #0000ff;
}

.bg-white {
    background-color: var(--bg-white);
}

.bg-dark {
    background-color: var(--dark-white);
}

.bg-black {
    background-color: var(--bg-black);
}

.bg-gray {
    background-color: var(--bg-gray);
}

.bg-blue {
    background-color: var(--bg-blue);
}

:root {

    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray: #808080;
    --color-dark: #333333;
    --color-blue: blue;
}

.color-white {
    color: var(--color-white);
}

.color-dark {
    color: var(--color-dark);
}

.color-black {
    color: var(--color-black);
}

.color-gray {
    color: var(--color-gray);
}

.color-blue {
    color: var(--color-blue);
}